.hiddenIFrame {
	visibility: hidden;
    width: 500px;
    height: 350px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.iFrameAndTweet:hover .hiddenIFrame {
	visibility: visible;
	transition-delay: .5s;
}
.iFrameAndTweet:hover .tweet{
	visibility: hidden;
	transition-delay: .5s;
}

.tooltip {
	visibility: hidden;
	position: absolute;
}

.playpause:hover .tooltip {
	visibility: visible;
	top: -2rem;
	transition-delay: .3s;
}