.hiddenIFrame {
	visibility: hidden;
    width: 500px;
    height: 350px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.iFrameAndTweet:hover .hiddenIFrame {
	visibility: visible;
	transition-delay: .5s;
}
.iFrameAndTweet:hover .tweet{
	visibility: hidden;
	transition-delay: .5s;
}

.tooltip {
	visibility: hidden;
	position: absolute;
}

.playpause:hover .tooltip {
	visibility: visible;
	top: -2rem;
	transition-delay: .3s;
}

.overlay {
	position : fixed;
	top      : 0;
	left     : 0;
	width    : 100%;
	height   : 100%;
	z-index  : -30;
	background-color: blu;
}

.mainTweet {
	box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

.tweetEmbed {
	width: 32rem;
}